.imageStyles {
  background-color: white;
}

.cardStyles {
  background-color: #7c7c7c2b;
  border: 1px solid white;
}

.cardTitleStyles {
  font-weight: 500;
}

.cardBodyStyles {
  background-color: #7c7c7c2b;
}

.listGroupStyles {
  background-color: #7c7c7c2b;
}

.listItemStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c7c7c2b;
  border: 1px solid white;
  color: white;
}