.listItemStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f64c72;
  border: 1px solid #c43b59;
  color: white;
}

.imageStyles {
  background-color: white;
}

.cardStyles {
  background-color: #f64c72;
  border: 1px solid white;
}

.cardTitleStyles {
  font-weight: 500;
}

.listGroupStyles {
  background-color: #f64c72;
}