.companyNameStyles {
  color: #f64c72;
}

.h2Styles {
  color: white;
  margin-bottom: 0;
}

.h4Styles {
  margin-top: -10px;
  color: white;
}

.cardStyles {
  background-color: #7c7c7c2b;
  border: 1px solid white;
}

.cardTitleStyles {
  color: white;
}

.gridStyles {
  background-color: #7c7c7c2b;
}